/* body */
.max-width {
    max-width: 800px;
    min-width: 600px;
    border: 1px solid rgb(232, 219, 219);
    border-radius: 10px;
    margin: auto;
}

/* header CSS */
.header {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}

.get-schemes-btn {
    background-color: white;
    border: 1px solid rgb(232, 219, 219);
    border-radius: 5px;
    margin-right: 50px;
}

.drop-down-menu {
    width: 60%;
    padding: 10px;
    border: 1px solid rgb(232, 219, 219);
    border-radius: 5px;
}

.color-box {
    background-color: rgb(232, 219, 219);
    border: 1px solid rgb(232, 219, 219);
    padding: 0;
    block-size: 40px;
    inline-size: 60px;
    margin-left: 50px;
}

/* main  CSS*/
#main-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* hex values */
.hex-value {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    padding: 1em 0;
}